<div class="hero-unit clearfix">

<div class="pull-left">

<img src="<%= @team.logo %>" height="500" width="400" alt="" style="margin:0 20px 20px 0">

</div>

<h2><%= @team.name %></h2>

<p><%= @team.description %></p>

<%= link_to "Join team", '', :class => "btn btn-primary btn-large" %>

</div>

<ul class="nav nav-tabs" id="tabs">
<% tab_value = params['tab_value'] != nil ? params['tab_value'] : 'hackers'
   tabs = ['hackers','hacks'] 
   tabs.each do |tab|
       if tab_value == tab
         active = 'class="active"'
       end  
       %>
      <li <%=raw active if active != nil %>>
            <%=raw link_to tab, team_path + "/#{tab}" %> 
      </li>
<% end %> 
</ul>

<%  if tab_value == 'hackers' %>

<%= render 'layouts/hackers', :omit_tags => true %>

<% elsif tab_value == 'hacks' %>

<%= render 'layouts/hacks', :omit_tags => true %>

<% end %>




