<h1>Update Your Profile</h1>

<%= simple_form_for(@hacker, :url => hacker_path + "/update", :method => :put, :html => {:class => 'form-horizontal' }) do |f| %>
<%= f.error_notification %>
  <%= f.input :fname, label: "First Name" %>
  <%= f.input :lname, label: "Last Name" %>
  <%= f.input :city %>
  <%= f.input :country %>
  <%= f.input :twitter_id %>
  <%= f.input :jobtitle, label: "Job Title" %>
  <%= f.input :company %>
  <%= f.error :base %>
  <%= f.button :submit %>
<% end %>
