<h1>Update Your Profile</h1>

<h2>Profile Info</h2>
<%= simple_form_for(@hacker, :url => hacker_path + '/update', :method => :put, :html => {:class => 'form-horizontal' }) do |f| %>
<%= f.error_notification %>
  <%= f.input :first_name, label: "First Name" %>
  <%= f.input :last_name, label: "Last Name" %>
  <%= f.input :photo %>
  <%= f.input :city %>
  <%= f.input :country %>
  <%= f.input :twitter_id %>
  <%= f.input :job_title, label: "Job Title" %>
  <%= f.input :company %>
  <%= f.error :base %>
  <%= f.button :submit, "Update Profile" %>
<% end %>

<%= link_to "Edit your login details", edit_user_registration_path %>
