<ul class="thumbnails">

<% @hackers.each do |hacker| %>

    <% hacker_name =  hacker.first_name + ' ' + hacker.last_name %>
    <% hacker_name_url = prep_string_for_url(hacker_name)  %>
    <% hacker_show = hacker_path(:id => params['id'], :event_name => params['event_name'], :hacker_id => hacker.id, :hacker_name => hacker_name_url) %>

  <li class="span3">
     <div class="thumbnail">
  <%= link_to image_tag(hacker.photo, alt: "#{hacker_name} logo", height: 200, width: 300), hacker_show  %>
     <h3><%= link_to hacker_name, hacker_show %></h3>
        <p><%= hacker.job_title %></p>
        <p><%= hacker.city + ', ' + hacker.country%></p>
        <p>Team: $teamname</p>
        <p>Hacks: $hacknames</p>  

        <p>My tags: <%= raw hacker.tag_list.map { |t| link_to t, url_builder( "/hackers/with/tag/#{t}/") }.join(', ') %></p>

        <p><a href="https://twitter.com/<%= hacker.twitter_id %>"><%= hacker.twitter_id %> on twitter</a></p>

     </div>
  </li>

<% end %>

</ul>
<h3>Hacker Tag Cloud</h3>
<div id="tag_cloud">
        <% tag_cloud User.tag_counts, %w[s m l] do |tag, css_class| %>
        <%= link_to tag.name, url_builder("/hackers/with/tag/#{tag.name}"), class: css_class %>
        <% end %>
</div>
