<ul class="thumbnails">

<% @hackers.each do |hacker| %>

    <% hacker_name =  hacker.fname + ' ' + hacker.lname %>

  <li class="span3">
     <div class="thumbnail">
  <% photo = 'http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/4/000/1ae/20e/2e92e48.jpg' %>
  <% eurl = request.fullpath + "/#{hacker.id}/" + prep_string_for_url("#{hacker_name}") + '/' %>
     <%= link_to image_tag(photo, alt: "#{hacker_name} logo", height: 200, width: 300), eurl %>
      <h3><%= link_to "#{hacker_name}", eurl %></h3>
        <p><%= hacker.jobtitle %></p>
        <p><%= hacker.city + ', ' + hacker.country%></p>
        <p>Team: $teamname</p>
        <p>Hacks: $hacknames</p>  

        <p>My tags: <%= raw hacker.tag_list.map { |t| link_to t, url_builder( "/hackers/with/tag/#{t}/") }.join(', ') %></p>

        <p><a href="https://twitter.com/<%= hacker.twitter_id %>"><%= hacker.twitter_id %> on twitter</a></p>

     </div>
  </li>

<% end %>

</ul>
<h3>Hacker Tag Cloud</h3>
<div id="tag_cloud">
        <% tag_cloud Hacker.tag_counts, %w[s m l] do |tag, css_class| %>
        <%= link_to tag.name, url_builder("/hackers/with/tag/#{tag.name}"), class: css_class %>
        <% end %>
</div>
