<p id="notice"><%= notice %></p>

<p>
  <b>Uname:</b>
  <%= @hacker.uname %>
</p>

<p>
  <b>Fname:</b>
  <%= @hacker.fname %>
</p>

<p>
  <b>Lname:</b>
  <%= @hacker.lname %>
</p>

<p>
  <b>City:</b>
  <%= @hacker.city %>
</p>

<p>
  <b>Country:</b>
  <%= @hacker.country %>
</p>

<p>
  <b>Company:</b>
  <%= @hacker.company %>
</p>

<p>
  <b>Jobtitle:</b>
  <%= @hacker.jobtitle %>
</p>

<p>
  <b>Twitter:</b>
  <%= @hacker.twitter_id %>
</p>

<p>
  <b>Facebook:</b>
  <%= @hacker.facebook_id %>
</p>

<p>
  <b>Dob:</b>
  <%= @hacker.dob %>
</p>


<%= link_to 'Edit', edit_hacker_path(@hacker) %> |
<%= link_to 'Back', hackers_path %>
