<div class="hero-unit clearfix">

<div class="pull-left">

<%= image_tag(@hacker.photo, :height => "300", :width => "200", :alt => "photo of #{@hacker.fname} #{@hacker.lname}", :style => "margin:0 20px 20px 0") %>

</div>

<h2><%= @hacker.fname + ' ' + @hacker.lname %></h2>

  <p>Where I'm from: <%= @hacker.city %>, <%= @hacker.country %></p>

  <p>What I do: <%= @hacker.jobtitle %> at <%= @hacker.company %></p>

  <p>Twitter: <%= @hacker.twitter_id %></p>

  <p>My Team: </p>
  <p>My Hacks: </p>

  
  <a href="<%= request.fullpath + "/edit" %>">Edit your profile</a>

</div>

