<h2>Hacks at <%= @event.name %></h2>

<div class="hero-unit clearfix">

<div class="pull-left">

<%= link_to image_tag(@hack.logo, :size => "300x200", :alt => @hack.name + " logo", :class => "img-polaroid", :style => "margin:0 20px 20px 0") %>

</div>

<h3><%= link_to @hack.name %></h3>

  <p><%= @hack.description %></p>

</div>

<p id="notice"><%= notice %></p>