<h2>Upcoming Hack Events</h2>

<ul class="thumbnails">
<% @events.each do |event| %>
  <li class="span4">
     <div class="thumbnail">
     <div class="span4">
       <% eurl = "/events/#{event.id}/" + prep_string_for_url(event.name) + '/hackers/' %>
       <%= link_to image_tag(event.logo, alt: "#{event.name} logo", height: 200, width: 300), eurl %>
     </div>
      <h3><%= link_to "#{event.name}", eurl %></h3>
	<p><%= l event.event_date, :format => :long %>.</p>
	<p><%= event.city %></p>
  <div>
    <% if defined?(@attendances) && (attendance_id = registered(@attendances, event.id)) %>
      <%= link_to "Unregister", "/attendances/#{attendance_id}", :method => :delete, :class => "btn btn-primary btn-medium clearfix" %>
    <% elsif defined?(@attendances) %>
      <%= button_to "Register", { :controller => 'attendances',
  :user_id => current_user.id, :event_id => event.id}, :method => :post, :class => "btn btn-primary btn-medium clearfix" %>
    <% else %>
      <%= link_to "Sign In to Register", "/authentications", :class => "btn btn-primary btn-medium clearfix" %>
    <% end %>
    </div>
  </div>
  </li>
<% end %>
</ul>
  
<h2>Past Hack Events</h2>

<ul class="thumbnails">
<% @past_events.each do |event| %>
  <li class="span4">
     <div class="thumbnail">
     <div class="span4">
     <% eurl = "/events/#{event.id}/" + prep_string_for_url(event.name) + '/hacks/' %>
     <%= link_to image_tag(event.logo, alt: "#{event.name} logo", height: 200, width: 300), eurl %>
     </div>
      <h3><%= link_to "#{event.name}", eurl %></h3>
  <p><%= l event.event_date, :format => :long %>.</p>
  <p><%= event.city %></p>
  </div>
  </li>
<% end %>
</ul>
