<h2>Upcoming Hack Events</h2>


<ul class="thumbnails">
<% @events.each do |event| %>
  <li class="span4">
     <div class="thumbnail">
     <% eurl = "/events/#{event.id}/" %>
     <%= link_to image_tag(event.logo, alt: "#{event.name} logo", height: 200, width: 300), eurl %>
      <h3><%= link_to "#{event.name}", eurl %></h3>
	<p><%= event.date%>, at <%= event.time %>.</p>
	<p><%= event.venue %>, <%= event.street_address %>, <%= event.city %>.</p>
        <p><%= event.description %></p>
     </div>
  </li>
<% end %>
</ul>

<h2 style="clear:left">Previous Hack Events</h2>
<p>None yet</p>
