<h1>Listing events</h1>

<div id="tag_cloud">
	<% tag_cloud Event.tag_counts, %w[s m l] do |tag, css_class| %>
	  <%= link_to tag.name, tag_path(tag.name), class: css_class %>
	<% end %>
</div>

<table>
  <tr>
    <th>E Name</th>
    <th>Description</th>
    <th>Tags</th>
    <th>Date</th>
    <th>Time</th>
    <th>Logo</th>
    <th>Owner</th>
    <th>Venue</th>
    <th>Street address</th>
    <th>City</th>
    <th>Zipcode</th>
    <th>Email</th>
    <th>Twitter</th>
    <th>Facebook</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.description %></td>
    <td><%= raw event.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></td> 
    <td><%= event.date %></td>
    <td><%= event.time %></td>
    <td><%= event.logo %></td>
    <td><%= event.owner %></td>
    <td><%= event.venue %></td>
    <td><%= event.street_address %></td>
    <td><%= event.city %></td>
    <td><%= event.zipcode %></td>
    <td><%= event.email %></td>
    <td><%= event.twitter_id %></td>
    <td><%= event.facebook_id %></td>
    <td><%= event.url %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
