<div class="hero-unit clearfix">

<div class="pull-left">

<%= link_to image_tag(@event.logo, :size => "300x200", :alt => @event.name + " logo", :class => "img-polaroid", :style => "margin:0 20px 20px 0"), @event.url  %>
<br>

<%= link_to "Attend", '', :class => "btn btn-primary btn-large clearfix" %>

<h3>Venue</h3>
  <address>
    <strong><%= @event.venue %></strong>,<br>
    <%= @event.street_address %>, 
    <%= @event.city %>,<br>
    <%= @event.zipcode %>
  </address>

<%= link_to "Edit Event Details", edit_event_path %>

</div>

<h2><%= @event.name %></h2>

  <p><%= l @event.event_date, :format => :long %></p>

  <p><%= @event.description %></p>

  <p><%= link_to @event.url, @event.url %></p>

<h3>Contact</h3>

  <p>Organiser: <%= @event.owner + ' (' + @event.email + ')' %></p>
  <p>Twitter: <%= @event.twitter_id %></p>
  <p>Facebook: <%= @event.facebook_id %></p>

</div>





