<div class="hero-unit clearfix">

<div class="pull-left">

<%= link_to image_tag(@event.logo, :size => "300x200", :alt => @event.name + " logo", :class => "img-polaroid", :style => "margin:0 20px 20px 0"), @event.url  %>
<br>
<a href="<%= @event.url %>" class="btn btn-primary btn-large clearfix">Register Here</a>

<h3>Venue</h3>
  <address>
    <strong><%= @event.venue %></strong>,<br>
    <%= @event.street_address %>, 
    <%= @event.city %>,<br>
    <%= @event.zipcode %>
  </address>

</div>

<h2><%= @event.name %></h2>

  <p><%= @event.description %></p>

  <p><%= l @event.time, :format => :long %></p>

<h3>Contact</h3>

  <p>Event Contact: <%= @event.owner + ' (' + @event.email + ')' %></p>
  <p>Twitter: <%= @event.twitter_id %></p>
  <p>Facebook: <%= @event.facebook_id %></p>

</div>





