<div class="hero-unit clearfix">

<div class="pull-left">

<%= link_to image_tag(@event.logo, :size => "300x200", :alt => @event.name + " logo", :class => "img-polaroid", :style => "margin:0 20px 20px 0"), @event.url  %>
<br>

<% if defined?(@attendances) && (attendance_id = registered(@attendances, params[:id])) %>

<%= link_to "Unregister", "/attendances/#{attendance_id}", :method => :delete, :class => "btn btn-primary btn-medium clearfix" %>

<% elsif defined?(@attendances) %>
      <%= button_to "Register", { :controller => 'attendances',
  :user_id => current_user.id, :event_id => params[:id] }, :method => :post, :class => "btn btn-primary btn-medium clearfix" %>

<% else %>
      <%= link_to "Sign In to Register", "/authentications", :class => "btn btn-primary btn-medium clearfix" %>
<% end %><br><br>

<%= link_to "Edit Event Details", edit_event_path %>

</div>

<h2><%= @event.name %></h2>

<p><strong><%= l @event.event_date, :format => :long %></strong></p>

<p><%= @event.description %></p>

  <p><strong>Location:</strong> <%= @event.venue %>, <%= @event.street_address %>, <%= @event.city %>, <%= @event.zipcode %></p>
  <p><strong>Event URL:</strong> <%= link_to @event.url, @event.url %></p>
  <p><strong>Twitter:</strong> <%= @event.twitter_id %></p>
  <p><strong>Facebook:</strong> <%= @event.facebook_id %></p>

</div>

<div style="float:right;">
  <%= link_to "Submit a Hack", new_hack_path, :class => "btn btn-primary btn-small" %>
  <%= link_to "Create a Team", new_team_path, :class => "btn btn-primary btn-small" %>
</div>

<ul class="nav nav-tabs" id="tabs">
<% tabs = ['hackers','teams','hacks'] 
   tabs.each do |tab|
       if request.fullpath =~ /#{tab}/i 
         active = 'class="active"'
         tag = " (tagged with " + params[:tag] + ')' if params[:tag]
       end  
       %>
      <li <%=raw active if active != nil %>>
        <%=raw link_to tab.capitalize + tag.to_s, event_path + "/#{tab}/" %> 
      </li>
<% end %> 
</ul>

<% if tab == 'hackers' %>

  <%= render 'layouts/hackers' %>

<% elsif tab == 'teams' %>

  <%= render 'layouts/teams' %>

<% elsif tab == 'hacks' %>

  <%= render 'layouts/hacks' %>

<% end %>




