  <header class="navbar navbar-fixed-top navbar-inverse">
       <div class="navbar-inner">
       <div class="container">
       <h1 id="logo"><a href="/">Hack Tools</a></h1>
       <nav>
         <ul class="nav pull-right">
            <% if defined?(@event.id) %>
              <li><a href="/events/<%= @event.id %>/<%= prep_string_for_url(@event.name) %>/hacks/">Hacks</a></li>
              <li><a href="/events/<%= @event.id %>/<%= prep_string_for_url(@event.name) %>/hackers/">Hackers</a></li>
              <li><a href="/events/<%= @event.id %>/<%= prep_string_for_url(@event.name) %>/teams/">Teams</a></li>
            <% end %>
	      <% if user_signed_in? %>
	        <li><% link_to "Signed in as #{current_user.email}" %></li>
		<li><%= link_to "Sign out #{current_user.email}".gsub(/@.+$/,'@&hellip;').html_safe, destroy_user_session_path, :method => :delete %></li>
	      <% else %>
                <li><%= link_to "Sign Up", new_user_registration_path %></li><li><%= link_to "Sign in", authentications_path %></li>
	      <% end %>
              <li><%= link_to "About",  '/about/' %></li>
         </ul>
       </nav>
      </div>
    </div>
   </header>
   
