<!DOCTYPE html>
<html>
  <head>
   <title>Hack Tools | Hackers</title>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <%= stylesheet_link_tag    "application", media: "all" %>
   <%= javascript_include_tag "application" %>
   <%= csrf_meta_tags %>
   <%= render 'layouts/shim' %>
 </head>
  <body>

  <%= render 'layouts/header' %>
  <div class="container">
  
  <%= render 'layouts/breadcrumb' %>

  <% if defined?(@event.name) %>
  <h2><%= @event.name %></h2>
  <% end %>

    <%= render 'layouts/notice' %>
    <%= yield %>

    <%= render 'layouts/footer' %>

  </div>
 </body>
</html>
